include ./components/header
body
	include ./components/navbar
	#details.container
		h2=titlePage
		.row
			.col.col-md-6
				img(src=`data:image/png;base64,${data.photo_pr}`)
			.col.col-md-6
				h1.text-capitalize=data.name_pr
				p.text-justify=data.desc_pr
				form.input-group.mb-3
					.input-group-prepend
						label.input-group-text(for='inputGroupSelect01') Options
					select#inputGroupSelect01.custom-select
						option(selected='') Choose...
						option(value='1')=`${data.price_pr[0][0]}g @ ${data.price_pr[0][1]}$`
						option(value='2')=`${data.price_pr[1][0]}g @ ${data.price_pr[1][1]}$`
						option(value='3')=`${data.price_pr[2][0]}g @ ${data.price_pr[2][1]}$`
					a.btn.btn-success.btn-block.text-white.mt-2(value="submit" type="submit")="Submit"