include ./components/header
body
	include ./components/navbar
	.container
		h2=titlePage
		.row
			.col.col-md-8
				p=data.id_pr
				p=data.name_pr
				p=data.desc_pr
				p=data.price_pr
			.col.col-md-4
				p test