include ./components/header

body
  h2= titlePage
  form(action=actionPage method="POST")
    label(for="usr")="Username:"
    input(type= "text" name="usr" value="" minlength="4" required)
    label(for="psw")="Password:"
    input(type= "password" name="psw" value="" minlength="4" required)
    img(src=captchaSrc alt="Don't see captcha? Reload the page pls")
    label(for="captcha")="Insert captcha:"
    input(type="text" for="captcha" name="captcha" required)
    input(type="submit")