include ./components/header

body
	include ./components/navbar
	.container#shop
		h2=titlePage

		form.form-row.shadow-sm(action="/shop" method="POST")
			input.col.col-md-10.form-control(id="search" type="text" placeholder="Search a product..." name="search")
			button.col.col-md-2(type="submit" value="submit" class="btn btn-success")="Submit"
		.card-deck.row
			for item in data
				.col.col-md-4.mb-3
					a.card.shadow-sm.text-decoration-none.text-dark(href=`/details/?pr=${item.id_pr}`)
						img.card-img(src=`data:image/png;base64,${item.photo_pr}` alt="card-img")
						.card-body
							h5.card-title=item.name_pr
							p.card-text=item.desc_pr
							ul.price-list
								li=`${item.price_pr[0][0]}g `
									span.badge.badge-primary.badge-pill=`${item.price_pr[0][1]}€`
								li=`${item.price_pr[1][0]}g `
									span.badge.badge-primary.badge-pill=`${item.price_pr[1][1]}€`
								li=`${item.price_pr[2][0]}g `
									span.badge.badge-primary.badge-pill=`${item.price_pr[2][1]}€`


